:root{
  --main-bg-color: brown;
  --soft-black:#232323;
  --pri-color: #642899;
  --secondary-color:#ffffff;
  --Btn-color:#26355D;

}

.main-bg{
  height: 110vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: -100;

}




.preloader{
  position: fixed;
  height: 100vh;
  width: 100%;
  background:var(--soft-black);
  display: none; /*need to be changed*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

}
.loader{
  border: 5px solid transparent;
  border-top-color: aquamarine;
  border-bottom-color:aquamarine ;
  height: 5rem;
  width: 5rem;
  animation: rotate 1.5s linear infinite;

}
@keyframes rotate {
  50%{
    transform: rotate(90deg);
    transform: translateX(-100px);
  }
  100%{
    transform: rotate(180deg);
    /* transform: translate(100px); */
  }  
}
.preloader p{
  color: var(--secondary-color);
  font-size: 3rem;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}
i{
  padding: 0 0.3rem 0 0;
  font-size: 1rem;
  /* align-items: center; */
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.left-nav h3{
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 800;
}

.sphere{
  font-weight: 300;
}



.slide-01{
  color: var(--secondary-color);
}

.Hero{
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.Hero .content-01{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 5rem;

  font-size: 2rem;
}

.Hero h2{
  font-size: 2.7rem;
  color: var(--pri-color);
  font-weight: 900;
}

.Hero h4{
  font-size: 1.2rem;
  font-weight: 200;
}

.content-rightSpace{
  width: 19rem;
}

.special-Btn{
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding: 25px 16px;
  border-radius: 50px;
  border: none;
  background:var(--secondary-color);
  margin-top: 5rem;
  box-shadow: 0 0 20px var(--secondary-color);
}

.bookCall{
  font-size: 1.5rem;
  font-weight: 800;
}

/* ----slide-02 --------- */


.slide-02{
  display: flex;
  margin: 10rem auto;
  gap: 5rem;
}

.user-Detail{
  height: 5rem;
  width: 17rem;
  background: var(--soft-black);
  color:var(--secondary-color);
  padding: 20px 40px;
  border-radius: 10px;
  flex: 1 1 100px;
  box-shadow: 0 0 20px var(--soft-black);
}

.left-slide-02{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-basis: 50%;

}

.right-slide-02{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 1rem;
}
.right-slide-02 h3{
  color: var(--pri-color);
  font-size: 2.5rem;
}

.right-slide-02 p{
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.right-slide-02 img{
  height: 20px;
  width: 20px;

}

.right-slide-02 button{
  background: var(--pri-color);
  color: var(--secondary-color);
  box-shadow: 0 0 20px var(--pri-color);
  margin-top: 2rem;
}


